discord.py
redis
aiohttp
async-timeout
attrs
chardet
Deprecated
discord
discord.py
idna
importlib-metadata
multidict
packaging
pip
pyparsing
redis
setuptools
typing-extensions
wrapt
yarl
zipp
